/* Header */
header {
  background-color: #090964;
  padding: 0.5rem;
  width: 100%; }

/* Logo */
header a,
.logo__text {
  text-decoration: none;
  color: #fff;
  display: inline-block; }

.logo__img {
  background: no-repeat;
  width: 3rem;
  height: 3rem;
  text-indent: -9999px; }

/* Footer */
footer {
  background-color: #333;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  color: #fff;
  text-align: center;
  align-items: center;
  padding: 0.5rem;
  position: fixed; }

/* Navbar items */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333; }

li {
  float: left; }

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; }

/* cambiar color cuando pasa el cursor */
li a:hover {
  background-color: #111; }

/*faq*/
table {
  border: solid #111 2px;
  border-radius: 5px;
  margin-top: 0.7rem;
  margin-left: 1rem;
  background-color: #fff;
  color: #111; }

table img {
  height: 1.3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

.info {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-size: 50px;
  background-color: #090964;
  color: #fff; }

.info dt {
  font-size: 1rem;
  padding-left: 2rem;
  padding-top: 0.5rem;
  line-height: 30px;
  font-weight: bold; }

.info dd {
  padding-left: 1rem; }

.info_table {
  overflow-x: scroll;
  overflow-y: hidden; }

/*Contacto*/
.contact {
  background-color: #090964;
  color: #fff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
  display: block; }

.contact__main {
  padding: 0;
  width: 40%;
  display: inline-flex; }

.contact__main__img {
  position: relative;
  display: inline; }

input {
  border-radius: 5px;
  padding: 0.3rem;
  margin: 0.3rem;
  font-size: 1rem; }

textarea {
  border-radius: 5px;
  font-size: 1rem; }

button {
  padding: 2px;
  font: 1em sans-serif; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

html {
  scroll-behavior: smooth; }

/*index*/
.index {
  background-color: #090964;
  color: #fff; }

/*about*/
.aboutUs {
  background-color: #090964;
  color: #fff; }

.aboutUs__img {
  size-adjust: 2rem; }

/*designs*/
.desings {
  background-image: radial-gradient(circle at 1.8% 50%, #e020c6 0, #cc18cd 16.67%, #b515d3 33.33%, #9816d9 50%, #741ddf 66.67%, #3c25e4 83.33%, #002de9 100%); }

.desings__title {
  color: #fff;
  align-self: center; }

.card {
  background-color: #090964 !important; }
