/* Header */
header {
  background-color: #414141;
  padding: 0.5rem;
  width: 100%; }

/* Logo */
header a,
.logo__text {
  text-decoration: none;
  color: #fff;
  display: inline-block; }

.logo__img {
  background: no-repeat;
  width: 3rem;
  height: 3rem;
  text-indent: -9999px; }

/* Footer */
footer {
  background-color: #333;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  color: #fff;
  text-align: center;
  align-items: center;
  padding: 0.5rem;
  position: fixed; }

/* Navbar items */
.logo__text {
  color: #fff;
  font-size: 35px;
  padding: 0 20px;
  font-weight: bold; }

.menu {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #414141;
  overflow: auto;
  width: 100%; }

.menu a {
  text-decoration: none; }

.menu_items {
  z-index: 99;
  display: flex;
  list-style: none;
  margin-right: 30px; }

.menu_items li {
  border-radius: 3px;
  margin: 0 5px;
  z-index: 99; }

.menu_items li a {
  padding: 7px 13px;
  text-decoration: none;
  font-size: 18px;
  display: block;
  text-transform: uppercase;
  color: #fff; }

.menu_items li:hover, li.active {
  background-color: rgba(117, 111, 111, 0.2); }

.btn_menu {
  margin-right: 30px;
  font-size: 25px;
  color: #fff;
  cursor: pointer;
  display: none; }

ul.show {
  top: 65px; }

/* MEDIA QUERYS - Responsive */
/* Mobile */
@media screen and (max-width: 767px) {
  .menu {
    height: 65px; }
  .btn_menu {
    display: inline-flex; }
  .menu_items {
    position: fixed;
    width: 100%;
    height: calc(100% - 65px);
    background-color: #615757;
    top: -100%;
    text-align: center;
    transition: all .4s;
    flex-direction: column; }
  .menu_items li {
    margin: 30px 0 0 0;
    line-height: 30px;
    border-radius: 3px; }
  .menu_items li:hover {
    background-color: none; }
  .menu_items li a {
    font-size: 20px;
    color: #fff; }
  .menu_items li a:hover {
    color: rgba(117, 111, 111, 0.2); }
  .logo__text {
    font-size: 25px;
    padding-left: 35px; } }

/* Tablet */
@media screen and (max-width: 1023px) {
  .logo__text {
    font-size: 28px;
    padding-left: 15px;
    padding-right: 15px; }
  .menu_items li a {
    font-size: 16px; } }

/* Desktop */
/*faq*/
table {
  border: solid #111 2px;
  border-radius: 5px;
  margin-top: 0.7rem;
  margin-left: 1rem;
  background-color: #fff;
  color: #111; }

table img {
  height: 1.3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

.info {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-size: 50px;
  background-image: linear-gradient(to bottom, #00317a, #682965, #853349, #884e39, #7e683f);
  color: #fff; }

.info dt {
  font-size: 1rem;
  padding-left: 2rem;
  padding-top: 0.5rem;
  line-height: 30px;
  font-weight: bold; }

.info dd {
  padding-left: 1rem; }

.info_table {
  overflow-x: scroll;
  overflow-y: hidden; }

/*Contacto*/
.contact {
  background-image: linear-gradient(to bottom, #00317a, #682965, #853349, #884e39, #7e683f);
  color: #fff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
  display: block;
  padding: 0 !important; }

.contact__main {
  display: grid;
  place-content: center; }

.contact__main__title {
  margin: 2.5rem;
  text-align: center; }

input {
  border-radius: 5px;
  padding: 0.3rem;
  margin: 0.5rem;
  font-size: 1.3rem !important;
  font-weight: bold !important;
  font-style: italic !important; }

label {
  font-size: 2rem; }

textarea {
  border-radius: 5px;
  font-size: 1.8rem !important;
  font-style: italic !important; }

button {
  padding: 5px;
  font-size: 1em;
  background-color: #c2b694;
  color: #030000;
  font-weight: bold;
  border-color: #978365; }

.contact__main__textarea {
  margin-top: 2.5rem !important; }

.contact__main__form {
  margin-bottom: 2rem; }

/* Mobile */
@media screen and (max-width: 767px) {
  input {
    border-radius: 5px;
    padding: 0.3rem;
    margin: 0.3rem;
    font-size: 0.5rem;
    font-weight: bolder; }
  label {
    font-size: 1rem; } }

/* Tablet */
@media screen and (max-width: 1023px) {
  input {
    border-radius: 5px;
    padding: 0.3rem;
    margin: 0.3rem;
    font-size: 1rem;
    font-weight: bolder; }
  label {
    font-size: 1.5rem; } }

/* Desktop */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

html {
  scroll-behavior: smooth; }

/*index*/
.index {
  background-image: linear-gradient(to bottom, #00317a, #682965, #853349, #884e39, #7e683f);
  color: #fff; }

/*about*/
.aboutUs {
  background-image: linear-gradient(to bottom, #00317a, #682965, #853349, #884e39, #7e683f);
  color: #fff; }

.aboutUs__img {
  size-adjust: 2rem; }

/*designs*/
.desings {
  background-image: linear-gradient(to bottom, #00317a, #682965, #853349, #884e39, #7e683f); }

.desings__title {
  color: #fff;
  align-self: center; }

.card {
  background-color: #090964 !important; }

.designs__subt {
  font-size: 1.5rem; }

.desings__button:hover {
  background-color: #a0853c;
  border-color: #887540;
  font-size: 1.2em;
  transition: 1.5s; }
