@import "headerFotter";
@import "faq";
@import "contact";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/*index*/
.index {
    background-image: linear-gradient(to bottom, #00317a, #682965, #853349, #884e39, #7e683f);
    color: #fff;
}


/*about*/
.aboutUs {
    background-image: linear-gradient(to bottom, #00317a, #682965, #853349, #884e39, #7e683f);
    color: #fff;
}

.aboutUs__img {
    size-adjust: 2rem;
}


/*designs*/
.desings {
    background-image: linear-gradient(to bottom, #00317a, #682965, #853349, #884e39, #7e683f);
}

.desings__title {
    color: #fff;
    align-self: center;
}

.card {
    background-color: rgb(9, 9, 100) !important;
}

.designs__subt{
    font-size: 1.5rem;
    }

.desings__button:hover{
    background-color: rgb(160, 133, 60);
    border-color: rgb(136, 117, 64);
    font-size: 1.2em;
}
