@import "headerFotter";
@import "faq";
@import "contact";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/*index*/
.index {
    background-image: radial-gradient(circle at 1.8% 50%, #e020c6 0, #cc18cd 16.67%, #b515d3 33.33%, #9816d9 50%, #741ddf 66.67%, #3c25e4 83.33%, #002de9 100%);
    color: #fff;
}

/*about*/
.aboutUs{
    background-image: radial-gradient(circle at 1.8% 50%, #e020c6 0, #cc18cd 16.67%, #b515d3 33.33%, #9816d9 50%, #741ddf 66.67%, #3c25e4 83.33%, #002de9 100%);
}

.aboutUs__img{
    size-adjust: 2rem;
}


/*designs*/
.desings{
    background-image: radial-gradient(circle at 1.8% 50%, #e020c6 0, #cc18cd 16.67%, #b515d3 33.33%, #9816d9 50%, #741ddf 66.67%, #3c25e4 83.33%, #002de9 100%);


}

.desings__title{
    color: #fff;
    align-self: center;
}
.card{
    background-color: rgb(9, 9, 100) !important;
}
